@import './config',"./header","./landing-page","./social-contact","./service","./footer","./footer",'./responsiveness';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  .announcement{
    background: $clr-1;
    color: lighten($clr-1, 100%);
    padding: 0.5rem 1rem;
    width: 100%;
    font-family: $font-1;
    text-align: center;
  }
  main{
  background: $bg-clr-1; 
  width: 100%;
  .landing-page{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 3rem 0rem;
    gap: 5rem;
    }
  }
}
